gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks
# Flutter build folders
build/
.dart_tool/
.packages
pubspec.lock

# IDE stuff
.vscode/
.idea/

# Secrets
.env

# OS junk
.DS_Store
Thumbs.db
